/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg.jpg') repeat #191919;
}


body{
	min-height: 700px;
    padding: 0 0 50px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	overflow:hidden;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer, header{
	display: block;
}


/*----------------------------
	Styling the timeline
-----------------------------*/


#timeline{
	background:none;
}

.slider .slider-container-mask .slider-container{
	background:none;
}

#timeline div.navigation{
    background: url('../img/timeline_bg.jpg') repeat;
    border-top:none;
}

/* Creating the 3D effect for the timeline navigation */

#timeline div.navigation:before{
	position:absolute;
	content:'';
	height:40px;
	width:100%;
	left:0;
	top:-40px;
	background: url('../img/timeline_bg.jpg') repeat;
}

#timeline div.navigation:after{
	position:absolute;
	content:'';
	height:10px;
	width:100%;
	left:0;
	top:-40px;
	background:repeat-x;
	
	background-image: linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -o-linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -moz-linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -webkit-linear-gradient(bottom, #434446 0%, #363839 100%);
	background-image: -ms-linear-gradient(bottom, #434446 0%, #363839 100%);
}


/* Adding a darker background to the timeline navigation */

#timeline div.timenav-background{
	background-color:#222 !important;
 	background-color:rgba(0,0,0,0.4) !important;
 	
}

#timeline .navigation .timenav-background .timenav-interval-background{
	background:none;
}

#timeline .top-highlight{
	background-color:transparent !important;
}

/* The zoom-in / zoom-out toolbar */

#timeline .toolbar{
	border:none !important;
	background-color: #202222 !important;
}

#timeline .toolbar div{
	border:none !important;
}

/* Styling the timeline numbers on the bottom */

#timeline .navigation .timenav .time .time-interval-minor .minor{
	margin-left:-1px;
}

#timeline .navigation .timenav .time .time-interval div{
	color: #CCCCCC;
}

/* The vertical lines */

#timeline .navigation .timenav .content .marker .line {
	background: #242828;
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.05);
}

#timeline .navigation .timenav .content .marker .dot {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
}

/* The previous / next arrows & labels */

.slider .nav-previous .icon {
	background: url("timeline.png") no-repeat scroll 0 -293px transparent;
}

.slider .nav-previous,.slider .nav-next{
	font-family:'Segoe UI',sans-serif;
}

.slider .nav-next .icon {
	background: url("timeline.png") no-repeat scroll 72px -221px transparent;
	width: 70px !important;
}

.slider .nav-next:hover .icon{
	position:relative;
	right:-5px;
}

.slider .nav-previous:hover, .slider .nav-next:hover {
    color: #666;
    cursor: pointer;
}

#timeline .thumbnail {
	border: medium none;
}

/* Color of the headings */

#timeline h1, #timeline h2, #timeline h3, #timeline h4, #timeline h5, #timeline h6 {
  color: #000000;
}

/* The loading screen */

#timeline .feedback {
	background-color: #222222;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2) inset;
	border:none;
}

#timeline .feedback div{
	color: #AAAAAA;
	font-size: 14px !important;
	font-weight: normal;
}


/*----------------------------
	The Slides
-----------------------------*/


#timeline .slider-item h2,
#timeline .slider-item h3{
	font-family:'Antic Slab','Segoe UI',sans-serif;
}

#timeline .slider-item h2 {
  color: #555555;
}

#timeline .slider-item p{
	font-family:'Segoe UI',sans-serif;
}


#timeline .slider-item img,
#timeline .slider-item iframe{
	border:none;
}

/* Customizing the first slide - the cover */

#timeline .slider-item:nth-child(1) h2 {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.39);
  font: 70px/1 'Antic Slab','Segoe UI',sans-serif;
  padding: 10px 5px 5px 20px;
  position: relative;
  right: -60px;
  white-space: nowrap;
  z-index: 10;
}

#timeline .slider-item:nth-child(1) p i {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.39);
  font: 40px 'Dancing Script','Segoe UI',sans-serif;
  padding: 5px 20px;
  position: relative;
  right: -60px;
  white-space: nowrap;
  z-index: 10;
}
#timeline .slider-item:nth-child(1) p .c1{
	color:#1bdff0;
}

#timeline .slider-item:nth-child(1) p .c2{
	color:#c92fe6;
}

#timeline .slider-item:nth-child(1) .media-container {
	left: -30px;
	position: relative;
	z-index: 1;
}

#timeline .slider-item:nth-child(1) .credit{
	text-align: center;
}


/*----------------------------
	Back to Tzine header
-----------------------------*/


header {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px #000000;
  height: 30px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/*----------------------------
	Popup - lightroom
-----------------------------*/
#containPopup{
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
	}
#popup{
	background: #FFFFFF;
	  width: 80%;
	  height: 450px;
	  position: fixed;
	  top:5%;
	  left: 10%;
	  z-index: 10001;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  -ms-border-radius: 4px;
	  -o-border-radius: 4px;
	  border-radius: 4px;
	}
.title{
	  padding: 6px 0;
	  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	  color: #333;
	  font-size: 24px;
	  text-align: center;
	  border-bottom: 1px solid #DADADA;
}
.menuLeft div img {
  border-right: 1px solid #D6D6D6;
  max-height: 64px;
  max-width: 64px;
  padding: 15px 10px;
  cursor: pointer;
  box-shadow: 0 1px 1px #D6D6D6;
  -webkit-box-shadow: 0 1px 1px #D6D6D6;
  -moz-box-shadow: 0 1px 1px #D6D6D6;
}
.menuLeft div img:active{
    -webkit-box-shadow: 0px 2px 0px #D6D6D6;
    -moz-box-shadow: 0px 2px 0px #D6D6D6;
    box-shadow: 0px 2px 0px #D6D6D6;
    position:relative;
    top:7px;
}
.menuLeft{
	margin-top: 10px;
	width: 8.5%;
}
.menuLeft div{
	position: relative;
}
.labelIcon {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.08);
  bottom: 2px;
  color: #555555;
  position: absolute !important;
  text-align: center;
  width: 91%;
}
._active:before {
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #D6D6D6;
  border-top: 15px solid rgba(0, 0, 0, 0);
  content: " ";
  height: 0;
  position: absolute;
  right: -6px;
  top: 30%;
  width: 0;
}
._active:after{
	border-bottom: 14px solid rgba(0, 0, 0, 0);
  border-left: 14px solid #FFFFFF;
  border-top: 14px solid rgba(0, 0, 0, 0);
  content: " ";
  height: 0;
  position: absolute;
  right: -4px;
  top: 31%;
  width: 0;
}
.commentTitle {
  background: none repeat scroll 0 0 #C4C4C4;
  border: 1px solid #D6D6D6;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.contentMid {
  color: #555555;
  font-family: times new roman,sans-serif;
  font-size: 17px;
  left: 9%;
  position: absolute;
  top: 11%;
  width: 62%;
  height: 100%;
}
.comment {
	border-left: 1px solid #D6D6D6;
  height: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28%;
}
.caption{
	display: none !important;
}
.userComment {
  bottom: 3%;
  position: absolute;
  left: 2%;
}
.userComment input {
  border: 1px solid #D6D6D6;
  border-radius: 4px;
  padding: 5px 3px;
}
.commentName {
  width: 24%;
}
.commentContent {
  width: 65%;
}
.commentList div {
  margin-left: 5px;
}
.userCommentName {
  color: #4683EA;
  font-weight: bold;
}
.commentList {
    height: 85%;
    overflow-y: scroll;
}
/*----------------------------
	Menu Nav
-----------------------------*/

nav {
    width: 100%;
    list-style: none outside none;
    margin-bottom: 0;
    /* padding-left: 30px; */
    padding-right: 30px;
}
header .nav .row {
    margin: 0;
    position: relative;
}
.header_user_info {
    float: right;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 25px 8px 0;
}
.header_user_info a {
  color: #555555;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.icon_document {
  max-width: 32px !important;
  vertical-align: middle;
}

/*----------------------------
	Login & register
-----------------------------*/

#loginForm{
  width: 70%;
  margin: 4% auto;
}

.loginElement{
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    line-height: 24px;
    margin: auto;
    padding: 0 0 0 10px;
    width: 314px;
    margin-top: 2%;
}
.forgotPass {
    color: #0085CF;
    float: left;
    margin-top: 2%;
}
.alreadyAccount{
    color: #0085CF;
    left: 15%;
    position: absolute;
    top: 70%;
}
.crateAccount {
    color: #0085CF;
    float: right;
    margin-top: 2%;
}
  #loginForm a.button2{
    display: block;
    color:#FFFFFF;
    text-decoration: none;
    width: 200px;
    position: absolute;
    top:82%;
    left: 40%;
     background: none repeat scroll 0 0 #EE6868;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  -ms-border-radius: 4px;
	  -o-border-radius: 4px;
	  border-radius: 4px;
	  color: #FFFFFF;
	  display: inline-block;
	  font-size: 10px;
	  padding: 12px 18px 11px 17px;
	  text-transform: uppercase;
	  transition: all 0.12s ease-in 0s;
  }
  #loginForm a.button2 i{
    float: right;
  }


/*----------------------------
	Search
-----------------------------*/

#searchbox {
  -moz-font-feature-settings: inherit;
  -moz-font-language-override: inherit;
  border: 0 none;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 30px 0 0 30px;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  width: 280px;
  position: absolute;
  z-index: 10000;
  top:20px;
}
#search_query_top {
  background-color: #FFFFFF;
  border: medium none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px rgba(0, 0, 0, 0);
  color: #9C9B9B;
  display: inline;
  font-size: 13px;
  height: 30px;
  margin-top: 5px;
  padding: 0 10px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
.button-search img {
  cursor: pointer;
  margin-top: 3px;
  width: 22px;
}
.button-search {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #4D90FE;
  border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #D9D9D9;
  border-image: none;
  border-style: none none none solid;
  border-width: medium medium medium 1px;
  color: #383B3F;
  cursor: pointer;
  display: block;
  height: 30px;
  padding: 0;
  position: absolute;
  right: -21px;
  text-align: center;
  top: 5px;
  width: 22%;
}
.searchResultElement {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-top: 1%;
  width: 120%;
}
.searchResultElement > p {
  color: #FFFFFF;
  padding: 7px;
}