@font-face {
    font-family: 'GibsonRegular';
    src: url('/assets/fonts/Gibson-Regular-webfont.eot');
    src: url('/assets/fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Gibson-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/Gibson-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/Gibson-Regular-webfont.svg#GibsonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GibsonLight';
    src: url('/assets/fonts/Gibson-Light-webfont.eot');
    src: url('/assets/fonts/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Gibson-Light-webfont.woff') format('woff'),
         url('/assets/fonts/Gibson-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/Gibson-Light-webfont.svg#GibsonLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
	background: #b4cdda;
}
::-moz-selection {
	background: #b4cdda;
}

#roundabout {
	margin: -12px 0 -16px;
	padding: 0;
	text-rendering: optimizeLegibility;
	font-family: minion-pro, Verdana, "Helvetica Neue";
	font-size: 1.1em;
	line-height: 1.4;
	color: #282828;
	background-color: #fff;
	position: relative;
}

	#roundabout strong { 
		font-weight: 600; 
		color: inherit;
	}

#roundabout var, #roundabout code {
	font-family: Consolas, Menlo, Monaco, "Courier New", fixed;
	font-size: 0.85em;
	font-style: normal;
	background-color: transparent;
	padding: 0;
	line-height: 1.3;
}
	#roundabout code {
		border: 1px dashed #999;
		background-color: rgba(255, 255, 255, 0.6);
		padding: 8px 16px;
		margin: 1.2em -16px 1.2em;
		display: block;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
	}
	#roundabout var em {
		font-weight: normal;
	}

#roundabout h1,
#roundabout h2,
#roundabout h3,
#roundabout h4,
#roundabout h5,
#roundabout h6 {
	font-family: GibsonRegular, Arial, "Garamond Premier Pro", "Adobe Garamond Pro", "Adobe Garamond", Garamond, Georgia, "Times New Roman", serif;;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0;
	color: #282828;
}
	#roundabout h4 var {
		font-weight: 700;
	}

#roundabout h1 {
	position: static;
	bottom: 0;
	left: 0;
}

#roundabout h2 {
	font-size: 2.2em;
	padding: 16px 0px 8px;
	margin: 0.8em 0px -0.3em;
	font-weight: 500;
}
	#requirements { margin-top: 0; }

#roundabout h3 {
	margin-top: 0.75em;
	margin-bottom: -0.5em;
	padding-top: 16px;
	font-size: 1.35em;
}

#roundabout h4 {
	font-size: 1.2em;
	border-bottom: 1px solid #ccc;
	margin: 1.4em -12px -0.4em;
	padding: 0 12px 8px;
}
	#roundabout h4 small {
		font-family: minion-pro, Verdana, "Helvetica Neue";
		font-size: 0.7em;
		font-style: italic;
		margin-left: 1em;
		color: #999;
		font-weight: 500;
	}

#roundabout h5 {
	font-size: 1em;
	margin-bottom: -1em;
	margin-top: 1.05em;
}

#roundabout a {
	text-decoration: none;
	color: #1f6589;
}

#roundabout p {
	margin: 1em 0;
}

#roundabout ul {
	padding: 0;
	margin-left: 0;
	margin: 1em 0;
}

	#roundabout li { margin-bottom: 0.5em; }


/* typography & helpers
---------------------------------------------------------------------------- */
.ampersand {
	font-family: goudy-bookletter-1911, Palatino, Garamond, Georgia, "Times New Roman", serif;
	font-size: 1.4em;
	font-weight: normal;
	vertical-align: -0.15em;
	line-height: 1.2;
	margin: -0.15em 0;
}

.clear {
	display: block;
	clear: both;
}



#roundabout .header {
	background-color: #337090;
	color: #86c1e0;
}

	#roundabout .header h1 {
		color: #fff;
		font-weight: normal;
	}
	
	#roundabout .header h2 {
		font-weight: normal;
	}
	
		#roundabout .header h2 em {
			opacity: 0.5;
		}

.intro {
	font-size: 1.15em;
	margin-bottom: 1.6em;
	line-height: 1.5;
}

#roundabout nav {
	float: right;
	padding-top: 1em;
}
	#roundabout nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#roundabout nav li { margin: 0; }
	#roundabout nav li ul { padding-left: 1em; font-size: 0.9em; }

#roundabout .page {
	width: 815px;
	margin: 1em auto 0;
	padding: 2em 50px;
	position: relative;
}


/* navigation
---------------------------------------------------------------------------- */
nav#primary {
	position: fixed;
	top: 0;
	height: 32px;
	right: 60px;
	font-size: 0.9em;
	z-index: 100;
	padding-top: 0;
	font-family: GibsonRegular;
}
	nav#primary.docked {
		position: absolute;
	}
	nav#primary ul {
		margin: 0;
		height: 1.875em;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	}
	nav#primary li {
		float: left;
		background-color: #fff;
		padding: 0;
		margin: 0;
	}
	nav#primary a {
		padding: 4px 12px;
		display: block;
		text-transform: none;
	}
	nav#primary a.download {
		background-color: #78a46f;
		color: #fff;
	}
		nav#primary a.download:hover {
			background-color: #85b57c;
		}


/* header
---------------------------------------------------------------------------- */
#roundabout .the-header {
	background: #1d516b; /* Old browsers */
	background: -moz-linear-gradient(45deg, #1d516b 0%, #337090 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1d516b), color-stop(100%,#337090)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #1d516b 0%,#337090 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #1d516b 0%,#337090 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #1d516b 0%,#337090 100%); /* IE10+ */
	background: linear-gradient(45deg, #1d516b 0%,#337090 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d516b', endColorstr='#337090',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
	color: #fff;
}
	#roundabout .the-header h1 {
		height: 73px;
		width: 263px;
		overflow: hidden;
		text-indent: -999em;
		background: transparent url('/img/projects/roundabout/text/roundabout.png') no-repeat scroll 0 0;
		margin: 0;
	}
	#roundabout .the-header h2 {
		height: 27px;
		width: 283px;
		overflow: hidden;
		text-indent: -999em;
		background: transparent url('/img/projects/roundabout/text/jquery-plugin.png') no-repeat scroll 0 0;
		margin: 0.5em 0 0;
		padding: 0;
		border: none;
	}
	#roundabout .the-header .page {
		margin: 0 auto;
		padding-bottom: 1.5em;
		padding-top: 2.5em;
	}


/* feature
---------------------------------------------------------------------------- */
#feature {
	background: #ccc url('/img/projects/roundabout/patterns/plaid.png') repeat scroll 50% 50%;
	border-bottom: 2px solid #bbb;
	position: relative;
	z-index: 10;
}

#feature .page {
	padding-top: 42px;
	padding-bottom: 42px;
	margin-top: 0;
	margin-bottom: 0;
}

	#feature p {
		margin: 0;
		font-size: 1.3em;
		width: 40%;
		line-height: 1.5;
	}
	
	#like-this {
		position: absolute;
		display: block;
		top: 190px;
		left: 310px;
		opacity: 0;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
		#feature:hover #like-this {
			opacity: 1;
		}
	
	#sample-roundabout {
		width: auto;
		list-style: none;
		margin: 0;
		padding: 0;
		height: auto;
		opacity: 1;
	}
		#sample-roundabout li {
			background-color: #658799;
			height: auto;
			width: auto;
			box-shadow: 0 4px 32px rgba(0, 0, 0, 0.4);
			cursor: pointer;
		}
			#sample-roundabout li.roundabout-in-focus {
				cursor: auto;
			}
		#sample-roundabout li .wrapper {
			padding: 1em;
		}
			#sample-roundabout .wrapper h2 {
				font-size: 1.75em;
				line-height: 1.1;
				margin-bottom: 0;
				padding-bottom: 8px;
				text-align: center;
				color: #fff !important;
			}
			#sample-roundabout .wrapper h3 {
				font-size: 1.5em;
				line-height: 1.1;
				padding-top: 0;
				margin-top: 0;
				text-align: center;
				color: #fff !important;
			}
			#sample-roundabout .wrapper p {
				margin-top: 4em;
				font-size: 1em;
				text-align: center;
				width: auto;
				color: #fff !important;
			}
				#sample-roundabout .img-example .wrapper p {
					margin-top: 2em;
				}
				#sample-roundabout .img-example .wrapper img {
					
				}


/* content
---------------------------------------------------------------------------- */
#the-content {
	clear: both;
	background-color: #ddd;
	position: relative;
	z-index: 8;
	margin-top: -18px;
	padding-top: 18px;
}

	table#browsers {
		width: 70%;
		border-collapse: collapse;
		margin: 1em auto;
	}

	table#all-options {
		width: 100%;
		border-collapse: collapse;
		margin: 1em -12px;
		line-height: 1.3;
	}
	
	table#all-options td {
		vertical-align: text-bottom;
		padding: 6px 12px 8px;
		border-top: 1px solid #999;
	}
	
	table#all-options td small {
		font-style: italic;
		display: block;
		color: #999;
		font-weight: 500;
	}
	
	table#all-options th {
		font-family: GibsonRegular;
		font-weight: 400;
		font-size: 1em;
		text-align: left;
		white-space: nowrap;
		padding: 0 12px 6px;
	}
	
	td.option {
		font-weight: bold;
	}
	td.data-type {
		font-style: italic;
		text-align: left;
	}
	th.default-value,
	td.default-value {
		text-align: left;
		white-space: nowrap;
	}
	
	section .description {
		width: 21%;
		float: left;
	}
	section .specs {
		width: 73%;
		float: right;
	}
		#roundabout .specs code {
			margin-top: 2em;
			margin-bottom: 2em;
		}

#roundabout .overview {
	padding-top: 56px;
	padding-bottom: 56px;
	margin-top: -56px;
	margin-bottom: -16px;
	position: relative;
	background: transparent url('/img/projects/roundabout/text/although.png') no-repeat scroll 60% 460px;
}
	#roundabout .overview .requirements {
		float: left;
		width: 56%;
	}
		#roundabout .overview .intro {
			margin-top: 0;
			margin-bottom: 1.6em;
		}
		#roundabout .overview figure {
			margin: 2em 0 1.6em 0;
		}
		#roundabout .overview figure img {
			width: 100%;
		}
	
	#roundabout .overview .interact {
		float: right;
		width: 38%;
	}
		#roundabout .overview .divider {
			text-align: center;
			color: #555;
			margin-top: 0.6em;
			margin-bottom: 0.6em;
		}
		#roundabout .overview .interact em {
			margin: 0 0.6em;
		}
	
	.overview .download {
	}
		#roundabout .overview .download span {
			display: block;
			padding: 80px 12px 10px;
			background: transparent url('/img/projects/roundabout/bg/download.png') no-repeat scroll 50% -32px;
			-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
		#roundabout .overview .download a {
			position: relative;
			top: 0px;
			color: #bce1b6;
			display: block;
			width: 100%;
			font-style: italic;
			line-height: 1.2;
			margin-bottom: 0;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
			border-radius: 8px;
			border-bottom: 8px solid #5a8251;
			text-align: center;
			background: #78a46f url('/img/projects/roundabout/bg/download-box.png') no-repeat scroll 50% 66px;
			-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
			#roundabout .overview .download a strong {
				display: block;
				color: #fff;
				font-size: 1.5em;
				font-style: normal;
				font-weight: 500;
				font-family: GibsonRegular, Arial, "Garamond Premier Pro", "Adobe Garamond Pro", "Adobe Garamond", Garamond, Georgia, "Times New Roman", serif;;
			}
			#roundabout .overview .download a:hover {
				color: #dbf2d7;
				background-color: #85b57c;
				border-color: #699660;
				background-position: 50% 48px;
			}
			#roundabout .overview .download a:hover span {
				background-position: 50% -16px;
			}
			#roundabout .overview .download a:active {
				border-bottom-width: 2px;
				margin-top: 6px;
			}
			
			.overview .donate {
				padding: 0 16px;
				font-size: 0.9em;
				line-height: 1.35;
			}
			#carbonads-container {
				margin: 1em 0;
			}
			#roundabout .overview .donate a {
				position: relative;
				display: block;
				padding: 8px 16px;
				margin: 0.8em -4px;
				font-size: 1.25em;
				font-weight: 500;
				text-align: center;
				font-family: GibsonRegular, "Helvetica Neue", sans-serif;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;
				border-bottom: 4px solid #5a8251;
				background-color: #78a46f;
				color: #fff;
			}
				#roundabout .overview .donate a:hover {
					background-color: #85b57c;
				}
			.overview .donate-form {
				display: none;
			}
	
	
	
	table.parameters {
		width: 100%;
		border-collapse: collapse;
		margin-top: 1.5em;
	}
		table.parameters th {
			font-weight: 600;
			vertical-align: text-bottom;
			text-align: right;
			font-style: italic;
			padding-right: 1em;
			padding-left: 0.5em;
			width: 8%;
		}
		table.parameters td {
			padding-bottom: 8px;
			vertical-align: text-bottom;
			line-height: 1.2;
		}
		table.parameters td.type,
		table.parameters td.returns {
			text-align: right;
			padding-right: 0.5em;
			font-style: italic;
		}
		table.parameters td.type {
			padding-left: 0.8em;
		}
		table.parameters td.returns {
			font-weight: bold;
		}
		table.parameters td.parameter var.name {
			font-weight: bold;
		}
		table.parameters .return th,
		table.parameters .return td {
			padding-top: 6px;
			border-top: 1px solid #999;
		}


/* support
---------------------------------------------------------------------------- */
#roundabout #support {
	margin-bottom: -0.8em;
}
.new-things {
	width: 46%;
	float: left;
}
.upgrade {
	width: 46%;
	float: right;
}
#roundabout #issues {
	margin-top: 0;
}


/* api
---------------------------------------------------------------------------- */
#roundabout #api {
	margin-bottom: -0.8em;
}


/* add-ons
---------------------------------------------------------------------------- */
#add-ons {

}


/* demos
---------------------------------------------------------------------------- */
.demos {
	margin-top: -40px;
}
	#roundabout .demos h2 {
		margin-bottom: -12px;
	}
#roundabout .demos ul {
	list-style: none;
	margin: 2.5em 0 1em;
	padding: 0;
}
	#roundabout .demos li {
		width: 30%;
		margin-right: 5%;
		float: left;
		margin-bottom: 2em;
		position: relative;
		z-index: 2;
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
	}
	#roundabout .demos li:nth-child(3n) {
		margin-right: 0;
	}
	#roundabout .demos a {
		display: block;
		background-color: #e8e8e8;
		height: 160px;
		position: relative;
		font-size: 0.9em;
		font-style: italic;
		line-height: 1.2;
		text-align: center;
		padding: 8px 12px;
		z-index: 2;
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
		#roundabout .demos a img {
			position: absolute;
			top: 8px;
			left: 12px;
			opacity: 0.6;
			-webkit-transition: opacity 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
		}
		#roundabout .demos a:hover {
			background-color: #f3f3f3;
		}
			#roundabout .demos a:hover img {
				opacity: 1;
			}
		#roundabout .demos li:after {
			z-index: -1;
			position: absolute;
			background: transparent;
			width: 70%;
			height: 60%;
			content: '';
			right: 12px;
			bottom: 10px;
			-webkit-transform: skew(15deg) rotate(6deg);
			-moz-transform: skew(15deg) rotate(6deg);
			transform: skew(15deg) rotate(6deg);
			-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
			-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
		}
		#roundabout .demos li:before {
			z-index: -2; 
			position: absolute;
			background: transparent;
			width: 70%;
			height: 60%;
			content: '';
			left: 12px;
			bottom: 10px;
			-webkit-transform: skew(-15deg) rotate(-6deg);
			-moz-transform: skew(-15deg) rotate(-6deg);
			transform: skew(-15deg) rotate(-6deg);
			-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
			-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
		}
	#roundabout .demos a span {
		display: block;
		position: absolute;
		width: 207px;
		text-align: center;
		height: 40px;
		background-color: #fff;
		padding: 4px 6px;
		bottom: 8px;
	}


/* support
---------------------------------------------------------------------------- */
#roundabout .important {
	float: right;
	margin-left: 1em;
	width: 30%;
	background: transparent url('/img/projects/roundabout/bg/important.png') no-repeat scroll 12px 50%;
	padding: 12px 12px 12px 116px;
	color: #a76464;
}


/* learn
---------------------------------------------------------------------------- */
.even-column {
	width: 46%;
	float: left;
}
	.even-column.last {
		float: right;
	}
	#roundabout .even-column ul {
		list-style: none;
		margin-bottom: 0;
	}
	#roundabout .even-column h4 {
		border-bottom: 0;
		margin-bottom: -0.9em;
	}

#roundabout #classroom {
	display: none;
	height: 0px;
	opacity: 0;
	margin: 0 -1em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #888;
	background: #111 url('/img/projects/roundabout/patterns/dark-plaid.png') repeat scroll 0 50%;
	-webkit-box-shadow: inset 0 8px 24px rgba(0, 0, 0, 0.35);
	position: relative;
	overflow: hidden;
}
	#roundabout #classroom h2 {
		font-size: 1.2em;
		position: absolute;
		color: #fff;
		display: inline-block;
		background-color: #222;
		padding: 48px 16px 8px;
		margin: 0 auto;
		line-height: 1;
		text-align: center;
		z-index: 20;
		top: -5.1em;
		right: 2em;
		font-family: GibsonLight;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
	}
	#roundabout #classroom ul.lesson-display {
		list-style: none;
		position: relative;
		top: 1.2em;
		left: 5px;
		opacity: 0;
		margin: 0 0 0 -44.65em;
		padding: 0;
		height: 26em;
		width: 138em;
		z-index: 10;
	}
	#roundabout #classroom ul.lesson-display li.lesson-step {
		height: 26em;
		width: 46em;
		background-color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}
	#roundabout #classroom ol.lesson-nav {
		list-style: none;
		display: inline;
		height: 8em;
		width: auto;
		text-align: center;
		position: relative;
		top: 3em;
		margin: 0 auto;
		padding: 0;
		z-index: 20;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}
	#roundabout #classroom ol.lesson-nav li {
		display: inline;
		text-align: center;
		position: relative;
		padding: 0 12px;
		height: 8em;
		border-left: 1px solid #bbb;
		background-color: #1d516b;
		-webkit-transition: all 0.2s ease-in-out;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
	}
		#roundabout #classroom ol.lesson-nav li.on {
			background-color: #3b7490;
			top: -8px;
		}
		#roundabout #classroom ol.lesson-nav li:first-child {
			border-left: 0;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-topleft: 4px;
			border-top-left-radius: 4px;
		}
		#roundabout #classroom ol.lesson-nav li:last-child {
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topright: 4px;
			border-top-right-radius: 4px;
		}
		#roundabout #classroom ol.lesson-nav li a {
			padding: 4px 6px;
			color: #fff;
			font-family: GibsonRegular;
		}
	#roundabout #classroom .stage {
		padding: 1px 32px 12px;
		font-size: 0.9em;
		line-height: 1.25;
		width: auto;
	}
	#roundabout #classroom li h1 {
		margin: -12px -32px 12px;
		background-image: none;
		text-indent: 0;
		width: auto;
		padding: 24px 32px 16px;
		border-bottom: double 5px #fff;
		background-color: #ccc;
		-webkit-border-top-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		border-top-right-radius: 3px;
	}
	
	#roundabout #classroom li p {
		width: 56%;
	}
	#roundabout #classroom li p.expectations {
		font-size: 1.1em;
		line-height: 1.4;
		padding: 0 1em;
	}
	
	#roundabout #classroom li h3 {
		margin-top: 0.5em;
	}
	
	#roundabout #classroom li code {
		margin-top: 1em;
		margin-bottom: 1em;
		max-height: 305px;
		overflow-x: auto;
		font-size: 0.8em;
	}
	#roundabout #classroom li .lesson-helper code {
		margin-top: 0.5em;
	}
	
	#roundabout #classroom .lesson-text {
		width: 56%;
		float: left;
	}
		#roundabout #classroom .lesson-text ul {
			list-style: disc;
			padding-left: 1.5em;
		}
		#roundabout #classroom .lesson-text p {
			width: auto;
		}
		#roundabout #classroom .lesson-text li {
			margin: 0 0.2em;
		}
	
	#roundabout #classroom .lesson-helper {
		width: 38%;
		float: right;
	}
		#roundabout #classroom .lesson-helper .note {
			font-size: 0.9em;
			color: #999;
			font-style: italic;
			width: auto;
		}